body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 11px;
    transition: opacity .15s ease;
    overflow: hidden;
    opacity: 0;
}

#grid {
    height: calc(100vh - 100px);
    border: 1px solid #d5dbe0;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f0f2f4;
    box-sizing: border-box;
    background: white;
}

.row:nth-child(odd),
.row:nth-child(odd) .resource-cell {
    background: #f6f7f8;
}

.cell {
    border-right: 1px solid #eeeff1;
    border-collapse: collapse;
    box-sizing: border-box;
}

.events {
    position: relative;
}

.event {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    user-select: none;
}

.event-text {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    overflow: hidden;
    white-space: nowrap;
    background: inherit;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    font-weight: 600;
    box-sizing: border-box;
    /* border-left: 6px solid rgba(0, 0, 0, 0); */
    /* border: 2px solid #444; */
    width: 100%;
    cursor: default;
    user-select: none;
    border-radius: 0px;
}

.event:hover {
    z-index: 5;
}

.event:active {
    z-index: 101;
}

.event:active .event-text {
    opacity: .9;
}

.timeline-rows-container {
    position: relative;
    z-index: 5;
}

.timeline-row {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    background: #f0f2f4 !important;
    transition: box-shadow .2s ease-out;
    border-bottom: 1px solid #dae2e6;
}

.timeline-row .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e3e8ec;
    color: #546877;
}

.top-left-corner-cell {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e3e8ec;
    color: #546877;
}

.ui-resizable-e {
    width: 14px;
}

.resource-cell {
    display: flex;
    position: relative;
    align-items: center;
    background: white;
    border-bottom: 1px solid #f0f2f4;
    box-sizing: border-box;
    background: white;
    border-right: 1px solid #e3e8ec;
}

.resource-name {
    color: hsl(208, 12%, 27%);
    margin-left: 1rem;
}

/* Modal */
.blocker {
    background-color: rgba(0, 0, 0, .55);
}

.modal {
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    padding: 2rem 5rem 3rem;
    max-width: 700px;
}

.today {
    background: pink;
}